**~
delauney/delaunay3d
delaunay_mst_3d/delaunay_mst_3d
mst3d/mst3d
boost_properties/in_algorithms
boost_properties/adj_lists
fast_fourier/sine_test
fast_fourier/basic_convolution
soundfile/sine_test
soundfile/getwavprops
audio_sync/*.wav
audio_sync/varianceexample
audio_sync/sync_wavs
audio_sync/sync_audio
audio_sync/xmltest
audio_sync/sync_kdenlive
audio_sync/regexcheck
**.avi
**.o
**.d
**vtk
**#*#
**.#*
**libsndfile-1.0.28.tar.gz
**libsndfile-1.0.28
**fftw-3.3.6-pl2.tar.gz
**fftw-3.3.6-pl2
**tinyxml2